<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="dbServerType" value="MSSQL2016" />
    <add key="Server" value="RND\MSSQLSERVER2016" />
    <add key="dbuser" value="sa" />
    <add key="dbpass" value="Phan921381!" />
    <add key="LicenseServer" value="RND" />
    <add key="CompanyDB" value="HRS_LIVE" />
    <add key="UserName" value="manager" />
    <add key="Password" value="1234" />
    <add key="DataSourceUserID" value="" />
    <add key="DataSourcePassword" value="" />
    <add key="AutoLogin" value="N" />
    <add key="AutoPostAfterLogin" value="Y" />
    <add key="APPost" value="Y" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AutoEmail" value="Y" />

    <add key="EmailSend" value="Y" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailHostDomain" value="" />
    <add key="EmailPort" value="587" />
    <!--<add key="Email" value="wei2.yeo@gmail.com" />-->
    <add key="Email" value="portaltesting030@gmail.com" />
    <add key="EmailPassword" value="12345678ty" />
    <add key="EmailName" value="Purchase Request Portal" />
    <add key="DeliveryMethod" value="Network" />
  </appSettings>
  <connectionStrings>
    <add name="DataSourceConnectionString" connectionString="Data Source=RND\MSSQLSERVER2016;Initial Catalog=HRS_PR;User ID=sa;Password=Phan921381!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>